<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{ title }}</h6>
                <button class="close" type="button" aria-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">*</span>
                </button>
            </div>
            <div class="modal-body">{{ text }}</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" aria-dismiss="modal">Cancel</button>
                <a href="{{ path('admin_product_delete', {"id" : product.id}) }}" class="btn btn-primary">Delete product</a>
            </div>
        </div>
    </div>
</div>