<div class="d-flex justify-content-between align-items-center">
    <a href="{{ catalogRoute }}" class="btn btn-danger btn-return">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
    <burron class="btn btn-primary save-btn" type="submit">
        Save changes
    </burron>
    {% if entity and entity.id %}
        <a class="btn btn-info" data-toggle="modal" data-target="#approveDeleteModal">
            <i class="fas fa-times fa-sm"></i>
        </a>
    {% endif %}
</div>